body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#current {
    border: 5px inset #c0c0c0;
}

#current:hover {
    background-color: white;
}

#copyright {
    font-size: 0.8em;
}

footer {
    background-color: #404040;
    color: white;
    padding-bottom: 1em;
}

footer a {
    color: white;
    display: inline-block;
    margin-top: 20px;
}

footer p {
    line-height: 0.5em;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

.main3 p {
    text-align: left;
}

.navbox {
    background-color: #c0c0c0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 20px 60px 20px;
}

.navbox div {
    display: flex;
    background-color: white;
    border: 3px #e0e0e0 outset;
    align-items: center;
}

.navbox div:hover {
    background-color: #f0f0f0;
    border: 3px #a0a0a0 outset;
}

.navbox div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
}

.pagelinks1 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 60px;
    width: 100%;
}

.pagelinks2 {
    grid-column-start: 4;
    grid-row: 2/3;
    height: 60px;
    width: 100%;
}

.pagelinks3 {
    grid-column-start: 6;
    grid-row: 2/3;
    height: 60px;
    width: 100%;
}